/*기본css설정시작*/
body,
html {
  height: 100%;
  overflow-x: hidden;
}
a {
  color: black;
  text-decoration: none;
}
.hidden {
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  top: 0;
  left: 0;
}
ul.skipmenu_list li a:focus {
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: white;
  background: black;
  z-index: 9999;
}
/*기본설정끝*/
div#footer_wrap {
  width: 100%;
  height: 395px;
  background: #223055;
}
footer {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
}
div#footer_logo {
  width: 276px;
  height: 75px;
  background: url(/image/footer_logo.png) no-repeat center;
  position: absolute;
  left: 48px;
  top: 49px;
  text-indent: -9999px;
}
ul#footer_snslist {
  width: 171px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 59px;
  bottom: 60px;
  text-indent: -9999px;
}
ul#footer_snslist > li {
  width: 30px;
  height: 30px;
}
ul#footer_snslist > li:nth-child(1) {
  background: url("/image/footericon_youtube.png") no-repeat center;
}
ul#footer_snslist > li:nth-child(2) {
  background: url(/image/footericon_instagrampng.png) no-repeat center;
}
ul#footer_snslist > li:nth-child(3) {
  background: url(/image/footericon_x-twitter.png) no-repeat center;
}
ul#footer_snslist > li:nth-child(4) {
  background: url(/image/footericon_facebook.png) no-repeat center;
}
div#footer_menu {
  width: 153px;
  height: 208px;
  position: absolute;
  right: 135px;
  top: 65px;
  text-align: right;
}
ul#footermenu_list > li > a {
  font: bold 16px/150% "Pretendard";
  color: white;
}
ul#footermenu_list > li:nth-child(2) {
  margin-top: 44px;
}
ul#footersubmenu_list > li > a {
  font: normal 16px/150% "Pretendard";
  color: white;
}
p.footer_copy {
  font: 500 12px "Pretendard";
  color: white;
  position: absolute;
  right: 220px;
  bottom: 60px;
}
