
div#visual_wrap{
    width: 100%;
    height: 950px;
    position: relative;
   
}
div#logo{
    position: absolute;
    left: 70px;
    top: 27px;
    z-index: 999;
}
div#visual{
    width: 100%;
    height: 950px;
}
ul#visual_list{
    width: 100%;
    height: 950px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden; 
}
ul#visual_list li{
 width: 100%;
 height: 950px;
 position: absolute;
 left: 0;
 top: 0;
}
iframe{
     width: 100%;
    height: 950px;
    transform: scale(1.5);
}
div#rolling_num{
    width: 114px;
    height: 48px;
    position: absolute;
    top: 448px;
    left: 130px;
}
p#next_num{   
    font-size: 40px; 
    font-family: 'Pretendard'; 
    font-weight: 350; 
    color: white;
}
span#all_num{
    font: 400 28px 'pretendard';
}
div#next_text{
    width: auto;
    height: auto;
    position: absolute;
    top: 465px;
    right: 130px;
}
div#next_text p{
    color: white;
    font: 400 20px 'pretendard';

}
button#left_btn{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -55px;
    left: 37px;
    background: none;
    border: none;
    color: white;
     overflow: hidden;
}
button#left_btn img{
    width: 100%;
    height: 100%;
}
button#right_btn{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    right: 37px;
    background: none;
    border: none;
    color: white;
}
button#right_btn img{
    width: 100%;
    height: 100%;
}
/*콘텐츠 영역 시작*/
div#content_wrap{
    width: 100%;
    min-height: 800px;
    position: relative;
    left: 0;
    top: 0;
}
div#kpop_wrap{
    width: 100%;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background: #212A44;
}
div#kpop{
    width: 570px;
    height: 120px;
    position: absolute;
    left: 50%;
    margin-left: -285px;
    top: 390px;
   
}
div#circle{
    width:1000px;
    height:1000px;
    border: 1px solid #212A44;
    border-radius: 50%;
    background: url('/image/Rectangle\ 13.png') no-repeat center;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -500px;
   bottom: 0;
   
}
div#kpop>p{
    line-height: 100px;
    
}
p#sm{
    color: white;
    font: bold 100px 'pretnedard';
}
p#plus{
    color: white;
    font: bold 100px 'pretnedard'; 
}
div#pop_wrap{
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    
    top: 375px;
}
p#pop{
    color: #ffb7ca;
    font: bold 100px 'pretnedard'; 
}
p#culture{
    color: #ffb7ca;
    font: bold 100px 'pretnedard'; 
    opacity: 0;
}
div#kpop_text{
    width: 574px;
    height: 44px;
    position: absolute;
    left: 50%;
    margin-left: -287px;
    top:545px;
}
div#kpop_text>p{
    color: white;
    font: 480 36px 'pretendard';
}
div#about_title{
    width: auto;
    height: auto;
    position: absolute;
    left: 234px;
    top: 136px;
}
p#about{
    font: bold 100px 'pretendard';
    color: #ffb7ca;
}
p#about_text{
    width: 637px;
    height: 84px;
    position: absolute;
    top: 286px;
    left: 156px;
}
p#ab_text{
    font: 480 28px 'pretendard';
    color: white;
}