/*영상시작*/
div#visual_wrap{
    width: 100vw;
    height: 100vh;
    position: relative;
   
}
div#logo{
    position: absolute;
    left: 70px;
    top: 27px;
    z-index: 999;
}
div#visual{
    width: 100%;
    height: 100vh;
}
ul#visual_list{
  width: 100%;
  height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden; 
}
ul#visual_list li{
  width: 100%;
  height: 100vh;
 position: absolute;
 left: 0;
 top: 0;
 display: flex;
 justify-content: center;
 
}
iframe{
  width: 100%;
  height: 100vh;
    transform: scale(1.5);
}
div.visual_text{
    width: 280px;
    height: auto;
    position: absolute;
    /* left: 50%;
    margin-left: -140px; */
    bottom: 108px;
    text-align: center;
}
div.visual_text p{
    font: 480 32px 'pretendard';
    color: white;
}
div#rolling_num{
    width: 114px;
    height: 48px;
    position: absolute;
    top: 448px;
    left: 130px;
}
p#next_num{   
    font-size: 40px; 
    font-family: 'Pretendard'; 
    font-weight: 350; 
    color: white;
}

span#all_num{
    font: 400 28px 'pretendard';
}
div#next_text{
    width: auto;
    height: auto;
    position: absolute;
    top: 465px;
    right: 130px;
}
div#next_text p{
    color: white;
    font: 400 20px 'pretendard';

}
button#visual_left_btn{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -55px;
    left: 37px;
    background: none;
    border: none;
    color: white;
     overflow: hidden;
}
button#visual_left_btn img{
    width: 100%;
    height: 100%;
}
button#visual_right_btn{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    right: 37px;
    background: none;
    border: none;
    color: white;
}
button#visual_right_btn img{
    width: 100%;
    height: 100%;
}
/*콘텐츠 영역 시작*/
div#content_wrap{
    width: 100vw;
    height: 100vh;
    position: relative;
    left: 0;
    top: 0;
    background: #212A44;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden; 
}

div#circle{
    width: 100%;
    height: 190%;
    mask-image: url('/image/Ellipse_29.svg');
    mask-repeat:no-repeat;
    mask-position: bottom center;
    mask-size: 300px 300px;
    /* position: absolute; 
    bottom: -60px; */
}
div#circle>img{
  width: 100vw;
  height: 100vh;
} 
section#kpop_all_wrap{
    width: 1600px;
    height: 1000px;
    position: absolute;
    display: flex;
    justify-content: center;
}
div#kpop_text_wrap{
  width: 100%;
  height: 100%;
  position:absolute
}

div#kpop{
    width: 570px;
    height: 120px;
    position: absolute;
    left: 503px;
    /* margin-left: -285px; */
    top: 390px;
    opacity: 1;
   
}

div#kpop>p{
    line-height: 100px;    
}
p#sm{
    color: white;
    font: bold 100px 'pretnedard';
}
p#plus{
    color: white;
    font: bold 100px 'pretnedard'; 
}
div#pop_wrap{
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 375px;
    opacity: 1;
}
p#pop{
    color: #ffb7ca;
    font: bold 100px 'pretnedard'; 
}
div#culture_wrap{
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 480px;
    
}
p#culture{
    color: #ffb7ca;
    font: bold 100px 'pretnedard'; 
    opacity: 0;
}
div#kpop_text{
    width: 574px;
    height: 44px;
    position: absolute;
    left: 50%;
    margin-left: -287px;
    top:545px;
    opacity: 1;
    
}
div#kpop_text>p{
    color: white;
    font: 480 36px 'pretendard';
}
/*about시작*/
div#about_title{
    width: 471px;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 136px;
    opacity: 0;
    /* background: red; */
    text-align: center;  
}
div#about_wrap{
  width: 100%;
  height: 100%;
  /* transform: translateY(1000); */
  position: absolute;
  opacity: 1;
}
p#about{
    font: bold 100px 'pretendard';
    color: #ffb7ca;
    line-height: 150px;
}
div#about_text{
    width: 637px;
    height: 84px;
    position: absolute;
    top:286px;
    right:-100px;
    opacity: 0;
}
p#ab_text{
    font: 480 28px 'pretendard';
    color: white;
    
}
p#ab_se_text{
    font: 480 28px 'pretendard';
    color: white;
    position: absolute;
    right: 0px;
    margin-top: 8px;
}
div#svg_wrap{
    width: 1900px;
    height: 290px;
    position: absolute;
    left: -150px;
    bottom: 201px;
    /* background: red; */
    
}
div#line_svg{
    position: absolute;
    left: 0px;
    bottom: 142px;
    
}
div#fisrt_circle{
    position: absolute;
    left: 225px;
   
}
p#first_text{
    width: 180px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:28px ;
    text-align: center;
    opacity: 0;
}
p#second_text{
    width: 180px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:28px ;
    text-align: center;
    opacity: 0;
}
p#third_text{
    width: 180px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:28px ;
    text-align: center;
    opacity: 0;
}
p#white_text{
    width: 200px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:28px ;
    text-align: center;
    font-weight: bold;
    opacity: 0;
}
div#second_circle{
    position: absolute;
    left: 471px;
    
}
div#third_circle{
    position: absolute;
    left: 716px;
    
}
div#second_line{
    position: absolute;
    left: 1005px;
    bottom: 142px;
    
}
div#white_circle{
    position: absolute;
    left: 1375px;
    opacity: 1;
}
div#last_line{
    position: absolute;
    right: 0;
    bottom: 142px;
    
}
path, circle {
  opacity: 0;  /* 선, 원은 처음에 보이지 않게 설정 */
}
/*global시작*/
div#global_header{
    width: 400px;
    position: absolute;
    left: 0px;
    top: 136px;
   opacity: 0; /*0.1*/
  
}
p#global_text{
    position: absolute;
    left: 0;
    top: 0;
    font: bold 120px 'pretendard';
    color:gray;
    
}
div#global_sub{
    position: absolute;
    left: 0px;
    top: 310px;
    line-height: 150%;
    opacity: 0;
}
p#global_sub_title{
    font: bold 40px 'pretendard';
    color: white;
}
div#global_second_sub{
    position: absolute;
    left: 0px;
    top: 508px;
    opacity: 0;
}
p#global_second_text{
    font: 400 20px 'pretendard';
    color: white;
    line-height: 170%;
}
/*responsible 시작*/
div#responsible_header{
    width: 400px;
    position: absolute;
    left: 1000px;
    top: 136px;
   opacity: 0; /*0.1*/
}
p#responsible_text{
    position: absolute;
    left: 0;
    top: 0;
    font: bold 120px 'pretendard';
    color:gray;
    
}
div#responsible_sub{
    position: absolute;
    left: 0px;
    top: 310px;
    line-height: 150%;
    opacity: 0;
}
p#responsible_sub_title{
    font: bold 40px 'pretendard';
    color: white;
}
div#responsible_second_sub{
    position: absolute;
    left: 0px;
    top: 508px;
    opacity: 0;
}
p#responsible_second_text{
    font: 400 20px 'pretendard';
    color: white;
    line-height: 170%;
}
/*map시작*/
div#map_wrap{
    width: 100%;
    height: 1000px;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 1;
    /* transform: translateY(0);
    transition: 1s ease-out; */

}
div#map_header{
    width: 550px;
    position: absolute;
    left: 0px;
    top: 90px;
   opacity: 0; /*0.1*/

}
p#map_title{
    position: absolute;
    left: 0;
    top: 0;
    font: bold 100px 'pretendard';
    color:gray;
    
}
div#map_subtitle_wrap{
    width: 393px;
    height: 120px;
    /* background: red; */
    position: absolute;
    left: 0px;
    top: 223px;
    opacity: 0;
    z-index: 1;
}
p#map_subtitle{
    font: 480 40px 'pretendard';
    /* text-align: center; */
    line-height: 150%;
    
}
span#kpop_bold{
    font: bold 40px 'pretendard';
}
span#culture_bold{
    font: bold 40px 'pretendard';
}
div#map_title_second{
    width: 919px;
    height: 98px;
    text-align: right;
    position: absolute;
    top: 280px;
    right: 0px;
    z-index: 1;
    opacity: 0;

}
p#title_second{
    font: 500 18px 'pretendard';
    line-height: 170%;
}
div#map_jpg{
    width: 1373px;
    height: 704px;
    background: url(/image/map.png) no-repeat center;
    position: absolute;
    left: 291px;
    bottom: 0;
}
div#first_circle_front{
  width: 28px;
  height: 28px;
  border: 1px solid #ff90b3;
  border-radius: 50%;
  background: #ff90b3;
  position: absolute;
  left: 470px;
  top: 520px;
  opacity: 0;
}
div#first_circle_back{
  width: 60px;
  height: 60px;
  border: 1px solid #ff90b3;
  border-radius: 50%;
  background: #ff90b3;
  opacity: 0;
  position: absolute;
  left: -17px;
  top: -17px;
}
div#first_map_line{
  position: absolute;
  top: 494px;
  left: 486px;
}
div#mid_circle_front{
  width: 28px;
  height: 28px;
  border: 1px solid #ff90b3;
  border-radius: 50%;
  background: #ff90b3;
  position: absolute;
  left: 804px;
  top: 580px;
  opacity: 0;
}
div#second_circle_front{
  width: 28px;
  height: 28px;
  border: 1px solid #ff90b3;
  border-radius: 50%;
  background: #ff90b3;
  position: absolute;
  left: 640px;
  top: 580px;
  opacity: 0;
}
div#second_circle_back{
  width: 60px;
  height: 60px;
  border: 1px solid #ff90b3;
  border-radius: 50%;
  background: #ff90b3;
  opacity: 0;
  position: absolute;
  left: -17px;
  top: -17px;
}
div#second_map_line{
  position: absolute;
  top: 560px;
  left: 660px;
}
div#third_circle_front{
  width: 28px;
  height: 28px;
  border: 1px solid #ff90b3;
  border-radius: 50%;
  background: #ff90b3;
  position: absolute;
  left: 810px;
  top: 830px;
  opacity: 0;
}
div#third_circle_back{
  width: 60px;
  height: 60px;
  border: 1px solid #ff90b3;
  border-radius: 50%;
  background: #ff90b3;
  opacity: 0;
  position: absolute;
  left: -17px;
  top: -17px;
}
div#third_map_line{
  position: absolute;
  top: 600px; 
  left: 800px;
}
div#last_circle_front{
  width: 28px;
  height: 28px;
  border: 1px solid #ff90b3;
  border-radius: 50%;
  background: #ff90b3;
  position: absolute;
  right: 520px;
  top: 530px;
  opacity: 0;
}
div#last_circle_back{
  width: 60px;
  height: 60px;
  border: 1px solid #ff90b3;
  border-radius: 50%;
  background: #ff90b3;
  opacity: 0;
  position: absolute;
  left: -17px;
  top: -17px;
}
div#last_map_line{
  position: absolute;
  top: 500px;
  left: 810px;
}

div#contents_wrap {
  width: 100%;
  height: auto;
  background: #212a44;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
}
div#artist_title {
  width: 100%;
  height: 100%;
}
div#artist_title > p {
  width: 1600px;
  height: 1000px;
  background: #212a44;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#artist_title p {
  font: 500 140px "pretendard";
  color: #ffb7ca;
}
section#artist_wrap {
  /* position:relative;
  left:0;
  top:0; */
  width: 100vw;
  height: 1000px;
}
div#artist {
  width: 200%;
  height: 100%;
  background: #212a44;
  position: relative;
  left: 200px;
  top: 0;
  display: flex;
  /* align-items:center; */
  justify-content: center;
}
div.test {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
}
div.test_01 {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  opacity: 0;
}
ul.artist_ul {
  width: 1336px;
  height: 866px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 46px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
ul.artist_ul li {
  width: 414px;
  height: 258px;
  position: relative;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
ul.artist_ul li img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* 아티스트 소개 시작 */
div#contents_wrap {
  width: 100vw;
  height: auto;
  background: #212a44;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
}
div#artist_title {
  width: 100vw;
  height: 100vh;
}
div#artist_title > p {
  width: 100vw;
  height: 100%;
  background: #212a44;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#artist_title p {
  font: 500 140px "pretendard";
  color: #ffb7ca;
}
section#artist_wrap {
  /* position:relative;
  left:0;
  top:0; */
  width: 100vw;
  height: 100vh;
}
div#artist {
  width: 200%;
  height: 100vh;
  background: #212a44;
  position: relative;
  left: 0;
  top: -30px;
  display: flex;
  /* align-items:center; */
  justify-content: center;
}
div.test {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  opacity:1;
}
div.test_01 {
  width: 100%;
  height: 100%;
  position: relative;
  left: -10%;
  top: 0;
  opacity: 0;
}
ul.artist_ul {
  width: 1336px;
  height: 90%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 46px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
ul.artist_ul li {
  width: 414px;
  height: 258px;
  position: relative;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
ul.artist_ul li img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/*artist_first 커버이미지 시작*/
div#artist_00 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_00.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_01 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_01.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_02 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_02.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_03 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_03.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_04 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_04.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_05 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_05.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_06 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_06.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_07 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_07.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_08 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_08.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
/*artist_first 커버이미지 끝*/
/* artist_second 커버이미지 시작 */
div#artist_09 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_09.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_10 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_10.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_11 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_11.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_12 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_12.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_13 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_13.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_14 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_14.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_15 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_15.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_16 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_16.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
div#artist_17 {
  width: 100%;
  height: 100%;
  background: url("/image/artist_img_17.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.artist_cover {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  transform: rotate(0deg);
  display: none;
}

.artist_cover img {
  width: 100%;
  height: auto;
}

.artist_cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: pink; /* 핑크색 */
  opacity: 0.3; /* 핑크색 투명도 */
  z-index: 1;
  /* display: none; */
}
/* sns 아이콘 */
div.artist_sns {
  width: 234px;
  height: 48px;
  float: left;
  position: absolute;
  display: none;
  /* display:block; */
  /* opacity:0; */
}
div.artist_sns i {
  margin-left: 20px;
  color: #ffffff;
  font-size: 32px;
}
/* 아티스트 소개 끝 */
div#bulletin_wrap{
    width:100%;
    height:3026px;
    background:pink;
  }
  div#audition_wrap {
    width: 100%;
    height: 1000px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 4%,
      rgba(255, 183, 202, 1) 100%
    );
    position: relative;
    left: 0px;
    top: 0px;
    overflow:hidden;
  }
  div#auditiontext_wrap {
    width: 587px;
    height: 369px;
    position:absolute;
    left:187px;
    top:214px;
  }
  p.audition_title {
    font: bold 64px 'Pretendard';
    color: #223055;
  }
  p.audition_subtitle {
    font: normal 20px 'Pretendard';
    color: #223055;
    margin-top: 68px;
    margin-left: 4px;
    height: 48px;
  }
  p.audition_text {
    font: normal 18px 'Pretendard';
    color: #223055;
    margin-top: 20px;
    margin-left: 4px;
  }
  p.pinktext {
    color: #ff90b3;
  }
  div#auditionimg_wrap{
    width:55%;
    position: absolute;
    left:854px;
    bottom:217px;
  }
  ul#auditionimg_list {
    width:auto;
    height:405px;
    display: flex;
  }
  ul#auditionimg_list > li {
    width: 532px;
    height: 405px;
    border-radius: 40px;
    background: #223055;
  }
  div#audition_dots {
    width: 256px;
    height: 16px;
    position: absolute;
    left: 191px;
    bottom: 230px;
  }
  ul#auditiondots_list {
    width: 100%;
    height: 100%;
    display: flex;
  }
  /* 페이지 도트 기본 색 */
  .swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    background-color: #223055 !important;
  }
  /* 활성화된 페이지 도트 색 */
  .swiper-pagination-bullet-active {
    background-color: #ff90b3 !important; /* 원하는 색으로 수정 */
  }
  
  /* .swiper {
    width: 1046px;
    position: absolute;
    left: 854px;
    top: 378px;
  } */
  .swiper-slide {
    width: 532px;
    height: 405px;
    border-radius: 40px;
    background: #882525;
  }
  .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  div#auditionicon_wrap {
    width: 168px;
    height: 71.08px;
    position: absolute;
    right: 129px;
    top: 197px;
    display: flex;
    justify-content: space-between;
  }
  div#auditionicon_wrap p {
    width: 71.08px;
    height: 71.08px;
    text-indent: -9999px;
  }
  div#auditionicon_wrap p:nth-child(1) {
    background: url(/image/audition_link_icon.png);
  }
  div#auditionicon_wrap p:nth-child(2) {
    background: url(/image/audition_insta_icon.png);
  }
  div#auditionicon_wrap p a {
    width: 100%;
    height: 100%;
    display: block;
  }
  /* 뉴스영역시작 */
  div#news_wrap {
    width: 100%;
    height: 808px;
    background: linear-gradient(
      to top,
      rgba(34, 48, 85, 1) 0%,
      rgba(255, 183, 202, 0.95) 93%,
      rgba(255, 183, 202, 0.95) 100%
    );
    position: relative;
    left: 0px;
    top: 0px;
    overflow:hidden;
  }
  div#newstitles_wrap {
    width: 584px;
    height: 529px;
    position: absolute;
    left: 199px;
    top: 111px;
  }
  p.newswrap_title {
    width: 449px;
    height: 74px;
    font: bold 62px 'Pretendard';
    color: white;
  }
  p.newswrap_subtitle {
    font: normal 20px 'Pretendard';
    color: white;
    margin-top: 13px;
    margin-left: 3px;
  }
  ul#newstitle_list {
    margin-top: 128px;
    width: 100%;
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  ul#newstitle_list > li {
    font: normal 20px 'Pretendard';
    color: white;
  }
  ul#newstitle_list > li.selected {
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(1, 4, 53, 0.5) ;
  }
  div#moreview_btn {
    width: 185px;
    height: 50px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: solid 1px white;
    border-radius: 25px;
    font: normal 18px 'Pretendard';
    color: white;
    line-height: 50px;
    text-indent: 29px;
  }
  div#newscards_wrap {
    width: 1723px;
    height: 552px;
    position: absolute;
    left: 919px;
    top: 119px;
    /* background:rosybrown; */
    overflow: hidden;
  }
  ul#newscard_list {
    width: 100%;
    height: 466px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  ul#newscard_list > li {
    width: 400px;
    height: 466px;
    background: white;
    box-shadow: 8px -6px 16px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 0px;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.3s ease-out;
  }
  ul#newscard_list > li.selected {
    background: #ffdae6;
    height: 550px;
    bottom: 84px;
  }
  ul#newscard_list > li.selected p.newscard_text {
    display: block;
  }
  ul#newscard_list > li.selected p.newscard_date {
    display: block;
  }
  div.newsimg_wrap {
    width: 360px;
    height: 260px;
  }
  p.newscard_title {
    font: bold 16px 'Pretendard';
    margin-top: 32px;
    margin-left: 6px;
    color: #292929;
  }
  p.newscard_text {
    font: normal 14px 'Pretendard';
    margin-top: 22px;
    margin-left: 6px;
    color: #292929;
    display: none;
    line-height: 150%;
  }
  p.newscard_date {
    font: normal 12px 'Pretendard';
    color: #4e4e4e;
    margin-top: 22px;
    margin-left: 9px;
    display: none;
  }
  div.newsmore_btn {
    width: 44px;
    height: 44px;
    text-indent: -9999px;
    background: url(/image/circle-arrow-right.png);
    position: absolute;
    right: 31px;
    bottom: 47px;
  }
  div#newspagebtn_wrap {
    width: 95px;
    height: 48px;
    display: flex;
    position: absolute;
    right: 140px;
    top: 111px;
  }
  div#newspagebtn_wrap p {
    width: 48px;
    height: 48px;
    border: solid 1px white;
    box-sizing: border-box;
    text-indent: -9999px;
  }
  div#newspagebtn_wrap p:nth-child(1) {
    background: url('/image/newspage_left.png') no-repeat center;
  }
  div#newspagebtn_wrap p:nth-child(2) {
    background: url('/image/newspage_right.png') no-repeat center;
  }
  /* 주가영역 시작 */
  div#investment_wrap {
    width: 100%;
    height: 823px;
    background: #223055;
    position: relative;
    left: 0px;
    top: 0px;
    display:flex;
    justify-content:center;
    overflow: hidden;
  }
  section#investment {
    width: 1164px;
    height: 529.49px;
    position: relative;
    left:0px;
    top:0px;
  }
  p.invest_title {
    font: bold 44px 'Pretendard';
    color: white;
    line-height: 150%;
    text-indent: 10px;
  }
  div#investcate_wrap {
    width: 100%;
    height: 449.68px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
  }
  div.investcate_box {
    width: 372px;
    height: 100%;
    border-radius: 30px;
    color: white;
    position: relative;
  }
  div#stock_price {
    background: #363f55;
    padding: 35px;
    box-sizing: border-box;
  }
  p.stock_title {
    font: bold 24px/150% 'Pretendard';
    margin-top: 42.87px;
  }
  p.stock_price {
    font: 500 48px/150% 'Pretendard';
    margin-top: 17.52px;
  }
  p.stock_text {
    font: normal 16px/150% 'Pretendard';
    margin-top: 0.97px;
    margin-left: 1px;
  }
  div#stockgraph_wrap {
    width: 372.5px;
    height: 220.34px;
    position: absolute;
    bottom: 11.19px;
    left: 0px;
  }
  div#ir_schedule {
    width: 100%;
    height: 211.21px;
    background: #363f55;
    border-radius: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  p.investcate_title {
    font: bold 20px/150% 'Pretendard';
    margin-left: 32px;
    margin-top: 31.15px;
  }
  div#ir_graph {
    width: 308px;
    height: 120.69px;
    position: absolute;
    right: 14px;
    bottom: 4.87px;
  }
  div#ir_performance {
    width: 100%;
    height: 207.32px;
    background: #363f55;
    border-radius: 30px;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  div#ir_icon {
    width: 102px;
    height: 99.28px;
    position: absolute;
    right: 29px;
    bottom: 33.09px;
  }
  div#ir_data {
    background: #363f55;
    padding: 32px;
    box-sizing: border-box;
  }
  div#irdata_img {
    width: 308px;
    height: 196.61px;
    margin-top: -0.85px;
  }
  p.irdata_title {
    font: bold 20px/150% 'Pretendard';
    margin-top: 17.52px;
    margin-left: 5px;
  }
  ul#datacate_list {
    width: 308px;
    height: 119.72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16.55px;
  }
  ul#datacate_list > li {
    width: 100%;
    height: 48.67px;
    background: #727c94;
    border-radius: 15px;
    position: relative;
    left: 0px;
    top: 0px;
  }
  p.datacate_title {
    font: 450 18px 'pretendard';
    color: white;
    line-height: 48.67px;
    margin-left: 19px;
  }
  p.datacate_icon {
    width: 33px;
    height: 32.12px;
    position: absolute;
    right: 11px;
    top: 7.79px;
    text-indent: -9999px;
    background: url('/image/irdata_icon.png') no-repeat center;
  }
  
  